/* global style */
:root {
  --text_primary: #000000;
  --text_sixthly: #ffffff;
  --warning: #c40f3c;
  --ok: #2ecc71;
  --disabled: #dadada;
  --primary: #4f9a69;
  --primary_hover: #63b0fd;
  --secondary: #000000;
  --tertiary: #ff7028;
  --tertiary_hover: #ff9c6b;
  --fourthly: #ffffff;
  --borders: #dde7ee;
  --link_hover: #1f93fd;
  --input_background: #ffffff;
}

ul{
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

body{
  margin: 0;
}